.data-table {
  width: 100%;
  mat-icon {
    cursor: pointer;
  }

  .mat-column-edit, .mat-column-id {
    width: 100px;
    mat-icon {
      margin-right: 20px;
    }
  }
}

.data-table__inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.add-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}