.main-view__sidenav {
  top: 64px;
  position: fixed;
  width: 100%;
  height: calc(100% - 64px);
  mat-sidenav {
    width: 200px;
    mat-nav-list {
      box-sizing: border-box;
    }

    a {
      margin-top: 8px;
      font-size: 16px;
    }

    p {
      text-align: center;
    }

    .mat-list-item-content {
      justify-content: center;
    }
  }
}