<app-navbar></app-navbar>
<mat-sidenav-container class="main-view__sidenav">
    <mat-sidenav #drawer mode="side" opened role="navigation">
        <mat-nav-list>
            <a *ngIf="isUserAllowed" mat-list-item routerLink='/url-types' routerLinkActive="link--active">Url types</a>
            <a *ngIf="isUserAllowed" mat-list-item routerLink='/patterns' routerLinkActive="link--active">Patterns</a>
            <a *ngIf="isUserAllowed" mat-list-item routerLink='/department' routerLinkActive="link--active">Departments</a>
            <a mat-list-item routerLink='/ranking' routerLinkActive="link--active">Ranking</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-view__content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>