<form class="add-url-type__form">
  <mat-form-field class="add-url-type__field">
    <input [formControl]="inputControl" matInput placeholder="Name">
  </mat-form-field>
  <button mat-button (click)="addEditUrlType()" class="add-url-type__button">Save</button>
</form>
