<form class="add-pattern__form" [formGroup]="inputControl">
    <mat-form-field class="add-pattern__field">
        <input matInput placeholder="Url" formControlName="url">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Url types" formControlName="type">
            <mat-option *ngFor="let urlType of urlTypes" [value]="urlType.name">
                {{urlType.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button (click)="addEditPattern()" class="add-pattern__button">Save</button>
</form>
