<mat-card>
    <mat-card-title>Home</mat-card-title>
    <div class="date-pickers">
        <mat-form-field>
            <input matInput [matDatepicker]="pickerStart" placeholder="Start date" [formControl]="dateFromControl">
            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="pickerEnd" placeholder="End date" [formControl]="dateToControl">
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button (click)="displayLogs()" [disabled]="!dateTo || !dateFrom" color="primary">Display
            logs
        </button>
    </div>
    <table mat-table [dataSource]="dataSource" class="data-table" matSort>

        <ng-container matColumnDef="urlType">
            <th mat-header-cell *matHeaderCellDef> Url type</th>
            <td mat-cell *matCellDef="let log"> {{log.type}}</td>
        </ng-container>

        <ng-container matColumnDef="timeSpent">
            <th mat-header-cell *matHeaderCellDef> Time spent</th>
            <td mat-cell *matCellDef="let log"> {{log.timeSpent}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="email-wrapper">
        <mat-form-field>
            <input matInput [formControl]="emailControl" placeholder="Email">
        </mat-form-field>
        <button [disabled]="!dateFrom || !dateTo || !email" mat-raised-button
                color="primary" (click)="sendEmail()" class="email-button">Send email with report
        </button>
        <button [disabled]="!dateFrom || !dateTo" mat-raised-button color="primary"
                (click)="getPersonalLogsFile()" class="download-button">Download personal report
        </button>
    </div>
</mat-card>
