.date-pickers {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  mat-form-field {
    margin-right: 30px;
  }

  button {
    right: 0;
  }
}

.email-wrapper {
  padding-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  mat-form-field, button {
    margin-left: 20px;
  }
}