<mat-card>
    <mat-card-title>Users</mat-card-title>
    <mat-card-content>
        <div class="data-table__inputs">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Department" [formControl]="departmentSelect">
                    <mat-option *ngFor="let department of departments" [value]="department.name">
                        {{department.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="date-pickers">
            <mat-form-field>
                <input matInput [matDatepicker]="pickerStart" placeholder="Start date" [formControl]="dateFromControl">
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="pickerEnd" placeholder="End date" [formControl]="dateToControl">
                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" class="data-table" matSort>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id</th>
                <td mat-cell *matCellDef="let user"> {{user.id}}</td>
            </ng-container>

            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> First Name</th>
                <td mat-cell *matCellDef="let user"> {{user.firstName}}</td>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef> Last Name</th>
                <td mat-cell *matCellDef="let user"> {{user.lastName}}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email</th>
                <td mat-cell *matCellDef="let user"> {{user.email}}</td>
            </ng-container>

            <ng-container matColumnDef="logs">
                <th mat-header-cell *matHeaderCellDef> Show logs</th>
                <td mat-cell *matCellDef="let user">
                    <mat-icon (click)="showUserLogs(user)">open_in_new</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

        <div class="email-wrapper">
            <mat-form-field>
                <input matInput [formControl]="emailControl" placeholder="Email">
            </mat-form-field>
            <button [disabled]="!dateFrom || !dateTo || !selectedDepartment || !email" mat-raised-button
                    color="primary" (click)="sendEmail()" class="email-button">Send email with report
            </button>
            <button [disabled]="!dateFrom || !dateTo || !selectedDepartment" mat-raised-button color="primary"
                    (click)="getDepartmentLogsFile()" class="download-button">Download department report
            </button>

        </div>
    </mat-card-content>
</mat-card>