.mat-column-logs {
  text-align: center;
}

.date-pickers {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  mat-form-field {
    margin-left: 30px;
  }
}

.email-wrapper {
  padding-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  mat-form-field, button {
    margin-left: 20px;
  }
}