<mat-card>
    <mat-card-title>Patterns</mat-card-title>
    <mat-icon (click)="addPattern()" class="add-icon">add</mat-icon>
    <mat-card-content>
        <div class="data-table__inputs">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Url type" [formControl]="urlTypeSelect">
                    <mat-option *ngFor="let urlType of urlTypes | notDeleted" [value]="urlType.name">
                        {{urlType.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" class="data-table" matSort>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id</th>
                <td mat-cell *matCellDef="let pattern"> {{pattern.id}}</td>
            </ng-container>

            <ng-container matColumnDef="url">
                <th mat-header-cell *matHeaderCellDef> Url</th>
                <td mat-cell *matCellDef="let pattern"> {{pattern.url}}</td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Edit</th>
                <td mat-cell *matCellDef="let pattern">
                    <mat-icon *ngIf="checkIfOlder(pattern)" (click)="deletePattern(pattern)">delete</mat-icon>
                    <mat-icon (click)="editPattern(pattern)">edit</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </mat-card-content>
</mat-card>