<mat-card-title>{{user.firstName}} {{user.lastName}} logs</mat-card-title>
<div class="dialog-content">
    <table mat-table [dataSource]="dataSource" class="data-table" matSort>

        <ng-container matColumnDef="urlType">
            <th mat-header-cell *matHeaderCellDef> Url type</th>
            <td mat-cell *matCellDef="let log"> {{log.type}}</td>
        </ng-container>

        <ng-container matColumnDef="timeSpent">
            <th mat-header-cell *matHeaderCellDef> Time spent</th>
            <td mat-cell *matCellDef="let log"> {{log.timeSpent}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button mat-raised-button color="primary" (click)="getUserLogsFile()">Download File</button>
</div>