.login-form__wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  mat-form-field {
    width: 300px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  mat-icon {
    cursor: pointer;
  }
}