<mat-card class="login-form__wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput formControlName="username" placeholder="Login">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="password" placeholder="Password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <div class="form-buttons__wrapper">
            <button mat-flat-button type="submit" color="primary">Submit</button>
        </div>
    </form>
</mat-card>