.date-pickers {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  mat-form-field {
    margin-right: 30px;
  }
}

.data-table__inputs {
  justify-content: flex-end;
  > div {
    mat-form-field {
      margin-left: 20px;
    }
  }
}

.mat-column-rank {
  width: 100px;
}

.mat-column-user {
  width: 300px;
}