<mat-card>
    <mat-card-title>Ranking</mat-card-title>
    <mat-card-content>
        <div class="data-table__inputs">
            <div>
                <mat-form-field>
                    <mat-select placeholder="Url type" [formControl]="typeSelect">
                        <mat-option *ngFor="let type of types | notDeleted" [value]="type.name">
                            {{type.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="isDepartmentSelectAllowed">
                    <mat-select placeholder="Department" [formControl]="departmentSelect">
                        <mat-option *ngFor="let department of departments" [value]="department.name">
                            {{department.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="date-pickers">
            <mat-form-field>
                <input matInput [matDatepicker]="pickerStart" placeholder="Start date" [formControl]="dateFromControl">
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="pickerEnd" placeholder="End date" [formControl]="dateToControl">
                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button [disabled]="!dateTo || !dateFrom || !selectedDepartment || !selectedType" (click)="generateRanking()" color="primary">Show ranking</button>
        </div>

        <table mat-table [dataSource]="dataSource" class="data-table" matSort>

            <ng-container matColumnDef="rank">
                <th mat-header-cell *matHeaderCellDef> Rank </th>
                <td mat-cell *matCellDef="let log; let i = index"> {{i + 1}}</td>
            </ng-container>

            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef> User</th>
                <td mat-cell *matCellDef="let log"> {{log.username}}</td>
            </ng-container>

            <ng-container matColumnDef="timeSpent">
                <th mat-header-cell *matHeaderCellDef> Time spent</th>
                <td mat-cell *matCellDef="let log"> {{log.timeSpent}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>
