.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  z-index: 2;
  height: 64px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .1), 0 6px 10px 0 rgba(0, 0, 0, .1), 0 1px 18px 0 rgba(0, 0, 0, .1);
}

.navbar__text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  span {
    font-size: 12px;
    margin-right: 10px;
  }
}

.navbar__icons {
  display: flex;
  align-items: center;
  mat-icon {
    cursor: pointer;
  }
}