<mat-toolbar class="navbar" color="primary">
  <span class="navbar__text">
    <a mat-list-item routerLink='/home'>Corpo Rat Monitoring</a>
    <span>You are logged in as {{userName}}</span>
  </span>

  <div class="navbar__icons">
    <button mat-icon-button>
      <mat-icon matTooltip='Show personal info' (click)="openPersonalInfo()">person</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/login']">
      <mat-icon matTooltip='Logout' (click)="logout()">exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
