<div *ngIf="imageToShow" class="personal-info__wrapper">
    <mat-icon (click)="closeDialog()">close</mat-icon>
    <img [src]="imageToShow ? imageToShow : '../../../../assets/img_avatar.png'" class="personal-info__avatar">
    <div class="personal-info__info">
        <span><strong>First Name:</strong> {{currentUser.firstName}}</span>
        <span><strong>Last Name:</strong> {{currentUser.lastName}}</span>
        <span><strong>Email:</strong> {{currentUser.email}}</span>
        <span><strong>ID:</strong> {{currentUser.id}}</span>
        <span><strong>Department:</strong> {{currentUser.department.name}}</span>
    </div>
</div>
