.personal-info__wrapper {
  display: flex;
  position: relative;
  mat-icon {
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: -20px;
  }
}

.personal-info__avatar {
  width: 100px;
  height: 100px;
}

.personal-info__info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  span {
    margin-bottom: 10px;
  }
}