@import '../../../../styles';

.error-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: mat-color($primary);
  color: #ffffff;
  padding: 50px;
  box-sizing: border-box;
  span {
    font-size: 50px;
    &:first-of-type {
      font-size: 82px;
    }
  }
}