/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-cyan, 500);
$accent:  mat-palette($mat-cyan, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$config: mat-typography-config();


$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

html, body {
  font-family: mat-font-family($config);
  font-weight: normal;
  height: 100%;
  width: 100%;
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: unset;
}

@import "app/app.component";