<mat-card>
    <mat-card-title>Url types</mat-card-title>
    <mat-icon (click)="addUrlType()" class="add-icon">add</mat-icon>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="data-table" matSort>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id</th>
                <td mat-cell *matCellDef="let urlType"> {{urlType.id}}</td>
            </ng-container>

            <ng-container matColumnDef="url">
                <th mat-header-cell *matHeaderCellDef> Name</th>
                <td mat-cell *matCellDef="let urlType"> {{urlType.name}}</td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Edit</th>
                <td mat-cell *matCellDef="let urlType">
                    <mat-icon *ngIf="urlType.dateFrom < todaysDate" (click)="deleteUrlType(urlType)">delete</mat-icon>
                    <mat-icon (click)="editUrlType(urlType)">edit</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>